{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}
<form method="POST">
  <h3 align="center">Formularz</h3>
  <div class="form-group">
    <label for="bank_acc">Numer konta</label>
    <b id="bank_acc">
      {{ bank_nr }}
    </b>
  </div>
  <div class="form-group">
    <label for="name">Imię</label>
    <b id="name">
      {{ name_t }}
    </b>
  </div>
  <div class="form-group">
    <label for="surname">Nazwisko</label>
    <b id="surname">
      {{ surname_t }}
    </b>
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Akceptuj</button>
</form>
{% endblock %}